<!DOCTYPE html>
<html>

<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../styles.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    <!-- 
        VueJS is very small in size. 
        Size	33.30KB min+gzip
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>

<body>
    <div class="container mx-auto mt-10">
        <h1 class="text-lg">Multiple Vue Instances in a single page</h1>
        <div id="app1" class="mb-3 bg-green-500 p-5 text-white">
            <h1>App 1</h1>
            <!-- following message is available because while instanting vue instance. We've provided data with message in it. -->
            <h1>{{ message }}</h1>
        </div>

        <div id="app2" class="mb-3 bg-green-500 p-5 text-white">
            <h1>App 2</h1>
            <!-- following message is available because while instanting vue instance. We've provided data with message in it. -->
            <h1>{{ message }}</h1>
        </div>

        <code>
            <h3>HTML</h3>
    <pre class="prettyprint">
&lt;div id=&quot;app1&quot; class=&quot;mb-3 bg-green-500 p-5 text-white&quot;&gt;
    &lt;h1&gt;App 1&lt;/h1&gt;
    &lt;!-- following message is available because while instanting vue instance. We've provided data with message in it. --&gt;
    &lt;h1&gt;{{ message }}&lt;/h1&gt;
&lt;/div&gt;

&lt;div id=&quot;app2&quot; class=&quot;mb-3 bg-green-500 p-5 text-white&quot;&gt;
    &lt;h1&gt;App 2&lt;/h1&gt;
    &lt;!-- following message is available because while instanting vue instance. We've provided data with message in it. --&gt;
    &lt;h1&gt;{{ message }}&lt;/h1&gt;
&lt;/div&gt;
    </pre>
</code>
<br>
<code>
    <h3>JavaScript</h3>
    <pre class="prettyprint">
       
        new Vue({
            el: '#app1',
            data: {
                message: 'Hello from VueJS Instance 1' 
            }
        })


        new Vue({
            el: '#app2',
            data: {
                message: 'Hello from VueJS Instance 2'
            }
        }) 
    </pre>
</code>
    </div>
    <script>

        /**
         |
         | The way VueJS works is you hook it to a html element then within that 
         | html element vuejs functionality will be available anything outside of 
         | it will not have access to view functionalities 
         |
         */

        new Vue({
            el: '#app1', // This hooks to ID of the html element

            data: { // This shares data within it with vue application

                message: 'Hello from VueJS Instance 1' // can be access from template like {{message}} or v-if="message"

            }

        })


        new Vue({
            el: '#app2', // This hooks to ID of the html element

            data: { // This shares data within it with vue application

                message: 'Hello from VueJS Instance 2' // can be access from template like {{message}} or v-if="message"

            }

        })



    </script>
</body>

</html>